# Rankings

In [2]:
# helper.py
from helper import *
gc.collect()

0

In [4]:
# load preds
preds_2025 = pd.read_csv('./data/rankings/ppg_predictions_2025.csv')

# rename columns
preds_2025 = preds_2025.rename(columns={'pred_rank_2025': 'rank', 'ppg_pred': 'ppg'})

# Group by position, convert each group to list of dicts
position_groups = {pos: group[['rank', 'player', 'team', 'ppg']].to_dict(orient='records')
                   for pos, group in preds_2025.groupby('pos')}

# Save to JSON
import json
with open('docs/ppg_data.json', 'w') as f:
    json.dump(position_groups, f, indent=2)

In [3]:
# load preds
preds_2025 = pd.read_csv('./data/rankings/ppg_predictions_2025.csv')
preds_2025 = clean_preds(preds_2025)

# load rankings
rankings_2025 = pd.read_csv('./data/adp/adp_5-2.csv')
rankings_2025 = clean_rankings(rankings_2025)

# combine preds and rankings
adp = pd.merge(preds_2025, rankings_2025, on='player', how='right')

# compute rank_diff for each pos group
results = []
for pos, group in adp.groupby('pos'):
    updated_group = compute_rank_diff(group)
    updated_group['pos'] = pos
    results.append(updated_group)

# combine results
adp = pd.concat(results)

# create rank_diff/ adp_rank
adp['rank_diff/adp_rank'] = adp['rank_diff'] / adp['adp_rank_2025']

In [4]:
show_top_players(adp, 'QB', 36)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
player,Josh Allen,Lamar Jackson,Jayden Daniels,Jalen Hurts,Joe Burrow,Patrick Mahomes,Baker Mayfield,Caleb Williams,Kyler Murray,Bo Nix,Justin Fields,Brock Purdy,Jared Goff,Justin Herbert,Drake Maye,Jordan Love,CJ Stroud,Dak Prescott,Trevor Lawrence,Michael Penix,Tua Tagovailoa,Bryce Young,Matthew Stafford,Geno Smith,Anthony Richardson,Sam Darnold,Russell Wilson,Aaron Rodgers,Daniel Jones,Joe Flacco,Derek Carr,Joe Milton,Kirk Cousins,Brandon Allen,Jameis Winston,Mac Jones
teamName,Buffalo Bills,Baltimore Ravens,Washington Commanders,Philadelphia Eagles,Cincinnati Bengals,Kansas City Chiefs,Tampa Bay Buccaneers,Chicago Bears,Arizona Cardinals,Denver Broncos,New York Jets,San Francisco 49ers,Detroit Lions,Los Angeles Chargers,New England Patriots,Green Bay Packers,Houston Texans,Dallas Cowboys,Jacksonville Jaguars,Atlanta Falcons,Miami Dolphins,Carolina Panthers,Los Angeles Rams,Las Vegas Raiders,Indianapolis Colts,Seattle Seahawks,New York Giants,NaN,Indianapolis Colts,Cleveland Browns,New Orleans Saints,Dallas Cowboys,Atlanta Falcons,Tennessee Titans,New York Giants,San Francisco 49ers
adp_rank_2025,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,24,25,26,27,28,30,31,35,36,37,38,40,41,43,44
pred_rank_2025,2.0,1.0,7.0,5.0,8.0,3.0,11.0,19.0,4.0,6.0,27.0,17.0,9.0,10.0,21.0,26.0,22.0,20.0,25.0,62.0,12.0,31.0,14.0,16.0,35.0,18.0,15.0,29.0,28.0,34.0,23.0,32.0,13.0,61.0,38.0,43.0
rank_diff,-1.0,1.0,-4.0,-1.0,-3.0,3.0,-4.0,-11.0,5.0,4.0,-16.0,-5.0,4.0,4.0,-6.0,-10.0,-5.0,-2.0,-6.0,-42.0,9.0,-9.0,9.0,8.0,-10.0,8.0,12.0,-1.0,1.0,-4.0,8.0,0.0,20.0,-27.0,-3.0,-7.0
rank_diff/adp_rank,-1.0,0.5,-1.333333,-0.25,-0.6,0.5,-0.571429,-1.375,0.555556,0.4,-1.454545,-0.416667,0.307692,0.285714,-0.4,-0.625,-0.294118,-0.111111,-0.315789,-2.0,0.409091,-0.375,0.36,0.307692,-0.37037,0.285714,0.4,-0.032258,0.028571,-0.111111,0.216216,0.0,0.5,-0.658537,-0.069767,-0.159091
ppg_pred,18.648424,20.971642,17.145458,17.548178,16.511486,18.13083,16.157238,14.12396,17.686892,17.433376,12.525399,14.31722,16.489944,16.309322,13.344249,12.562955,13.177473,14.078869,12.766508,4.191972,15.394548,10.822092,14.682054,14.329371,9.521683,14.191064,14.439679,11.369932,11.993955,9.701075,13.124017,10.369046,14.991928,4.208695,8.445257,6.931176

In [4]:
show_top_players(adp, 'RB', 50)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
player,Saquon Barkley,Bijan Robinson,Jahmyr Gibbs,Christian McCaffrey,Derrick Henry,De'Von Achane,Jonathan Taylor,Bucky Irving,Josh Jacobs,Chase Brown,Kyren Williams,Breece Hall,James Cook,Joe Mixon,Chuba Hubbard,Kenneth Walker III,Alvin Kamara,James Conner,David Montgomery,Aaron Jones,Tony Pollard,D'Andre Swift,Tyrone Tracy,Najee Harris,Brian Robinson,Isiah Pacheco,Jaylen Warren,Jordan Mason,Zach Charbonnet,Travis Etienne,Rhamondre Stevenson,Javonte Williams,Tyjae Spears,Trey Benson,Tank Bigsby,Isaac Guerendo,Ray Davis,Rachaad White,Tyler Allgeier,Rico Dowdle,Braelon Allen,Austin Ekeler,Jerome Ford,JK Dobbins,Jaylen Wright,Blake Corum,Roschon Johnson,Will Shipley,Justice Hill,MarShawn Lloyd
teamName,Philadelphia Eagles,Atlanta Falcons,Detroit Lions,San Francisco 49ers,Baltimore Ravens,Miami Dolphins,Indianapolis Colts,Tampa Bay Buccaneers,Green Bay Packers,Cincinnati Bengals,Los Angeles Rams,New York Jets,Buffalo Bills,Houston Texans,Carolina Panthers,Seattle Seahawks,New Orleans Saints,Arizona Cardinals,Detroit Lions,Minnesota Vikings,Tennessee Titans,Chicago Bears,New York Giants,Los Angeles Chargers,Washington Commanders,Kansas City Chiefs,Pittsburgh Steelers,Minnesota Vikings,Seattle Seahawks,Jacksonville Jaguars,New England Patriots,Dallas Cowboys,Tennessee Titans,Arizona Cardinals,Jacksonville Jaguars,San Francisco 49ers,Buffalo Bills,Tampa Bay Buccaneers,Atlanta Falcons,Carolina Panthers,New York Jets,Washington Commanders,Cleveland Browns,NaN,Miami Dolphins,Los Angeles Rams,Chicago Bears,Philadelphia Eagles,Baltimore Ravens,Green Bay Packers
adp_rank_2025,1,2,3,5,6,7,8,9,10,11,12,13,15,16,18,19,20,23,24,26,27,28,29,30,32,33,34,35,36,37,39,40,41,42,43,44,45,46,48,50,51,52,55,56,57,58,60,61,62,63
pred_rank_2025,6.0,1.0,3.0,19.0,5.0,2.0,11.0,4.0,7.0,18.0,13.0,9.0,14.0,10.0,16.0,15.0,8.0,12.0,17.0,20.0,21.0,24.0,26.0,22.0,31.0,38.0,33.0,32.0,29.0,30.0,28.0,46.0,35.0,67.0,40.0,42.0,41.0,27.0,39.0,34.0,63.0,25.0,37.0,23.0,72.0,106.0,64.0,121.0,70.0,111.0
rank_diff,-5.0,1.0,0.0,-15.0,0.0,4.0,-4.0,4.0,2.0,-8.0,-2.0,3.0,-1.0,4.0,-1.0,1.0,9.0,6.0,2.0,0.0,0.0,-2.0,-3.0,2.0,-6.0,-12.0,-6.0,-4.0,0.0,0.0,3.0,-14.0,-2.0,-33.0,-5.0,-6.0,-4.0,11.0,0.0,6.0,-22.0,17.0,6.0,21.0,-27.0,-60.0,-17.0,-73.0,-21.0,-61.0
rank_diff/adp_rank,-5.0,0.5,0.0,-3.0,0.0,0.571429,-0.5,0.444444,0.2,-0.727273,-0.166667,0.230769,-0.066667,0.25,-0.055556,0.052632,0.45,0.26087,0.083333,0.0,0.0,-0.071429,-0.103448,0.066667,-0.1875,-0.363636,-0.176471,-0.114286,0.0,0.0,0.076923,-0.35,-0.04878,-0.785714,-0.116279,-0.136364,-0.088889,0.23913,0.0,0.12,-0.431373,0.326923,0.109091,0.375,-0.473684,-1.034483,-0.283333,-1.196721,-0.33871,-0.968254
ppg_pred,13.873262,15.391518,14.541001,10.72642,14.124535,14.609208,12.907993,14.438104,13.680642,10.85105,12.803769,13.009959,12.635178,12.929785,12.030789,12.486574,13.23697,12.804311,11.772822,10.319377,10.076751,9.376688,9.208784,9.690212,8.063169,6.956335,7.411744,7.800839,8.608443,8.336931,8.645573,6.394256,7.147609,4.870065,6.82544,6.595346,6.672292,9.037267,6.889465,7.154991,5.215256,9.292506,7.04252,9.58503,4.539722,2.919223,5.151001,2.454502,4.625513,2.748875

In [5]:
show_top_players(adp, 'WR', 80)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79
player,Ja'Marr Chase,Justin Jefferson,CeeDee Lamb,Puka Nacua,Malik Nabers,Amon-Ra St Brown,Nico Collins,Brian Thomas,Drake London,AJ Brown,Ladd McConkey,Tee Higgins,Tyreek Hill,Jaxon Smith-Njigba,Garrett Wilson,Marvin Harrison,Terry McLaurin,Davante Adams,Rashee Rice,Mike Evans,DJ Moore,Xavier Worthy,DeVonta Smith,Jameson Williams,Zay Flowers,Courtland Sutton,DK Metcalf,Calvin Ridley,Rome Odunze,Jaylen Waddle,Jordan Addison,Chris Olave,Chris Godwin,Deebo Samuel,Jauan Jennings,Jerry Jeudy,Jakobi Meyers,Ricky Pearsall,George Pickens,Jayden Reed,Stefon Diggs,Khalil Shakir,Brandon Aiyuk,Cooper Kupp,Darnell Mooney,Josh Downs,Michael Pittman,Christian Kirk,Rashid Shaheed,Marvin Mims,Keon Coleman,Rashod Bateman,Hollywood Brown,Jalen McMillan,Quentin Johnston,Xavier Legette,Romeo Doubs,Joshua Palmer,Adam Thielen,Cedric Tillman,Keenan Allen,Jalen Tolbert,Wan'Dale Robinson,Alec Pierce,Jalen Coker,DeAndre Hopkins,Dontayvion Wicks,Michael Wilson,DeMario Douglas,Darius Slayton,Andrei Iosivas,Adonai Mitchell,Amari Cooper,Tyler Lockett,Dyami Brown,Tutu Atwell,Troy Franklin,KaVontae Turpin,Mike Williams,Diontae Johnson
teamName,Cincinnati Bengals,Minnesota Vikings,Dallas Cowboys,Los Angeles Rams,New York Giants,Detroit Lions,Houston Texans,Jacksonville Jaguars,Atlanta Falcons,Philadelphia Eagles,Los Angeles Chargers,Cincinnati Bengals,Miami Dolphins,Seattle Seahawks,New York Jets,Arizona Cardinals,Washington Commanders,Los Angeles Rams,Kansas City Chiefs,Tampa Bay Buccaneers,Chicago Bears,Kansas City Chiefs,Philadelphia Eagles,Detroit Lions,Baltimore Ravens,Denver Broncos,Pittsburgh Steelers,Tennessee Titans,Chicago Bears,Miami Dolphins,Minnesota Vikings,New Orleans Saints,Tampa Bay Buccaneers,Washington Commanders,San Francisco 49ers,Cleveland Browns,Las Vegas Raiders,San Francisco 49ers,Pittsburgh Steelers,Green Bay Packers,New England Patriots,Buffalo Bills,San Francisco 49ers,Seattle Seahawks,Atlanta Falcons,Indianapolis Colts,Indianapolis Colts,Houston Texans,New Orleans Saints,Denver Broncos,Buffalo Bills,Baltimore Ravens,Kansas City Chiefs,Tampa Bay Buccaneers,Los Angeles Chargers,Carolina Panthers,Green Bay Packers,Buffalo Bills,Carolina Panthers,Cleveland Browns,NaN,Dallas Cowboys,New York Giants,Indianapolis Colts,Carolina Panthers,Baltimore Ravens,Green Bay Packers,Arizona Cardinals,New England Patriots,New York Giants,Cincinnati Bengals,Indianapolis Colts,NaN,Tennessee Titans,Jacksonville Jaguars,Los Angeles Rams,Denver Broncos,Dallas Cowboys,Los Angeles Chargers,NaN
adp_rank_2025,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,42,43,44,45,46,49,50,51,53,55,56,57,58,59,60,63,64,66,67,68,69,70,71,72,73,74,75,77,78,80,81,82,83,84,86,87,89,90,92,93,94,96
pred_rank_2025,1.0,2.0,4.0,8.0,3.0,5.0,11.0,14.0,10.0,6.0,12.0,16.0,7.0,27.0,20.0,17.0,22.0,9.0,15.0,13.0,30.0,31.0,18.0,46.0,21.0,38.0,26.0,48.0,42.0,37.0,28.0,41.0,19.0,43.0,40.0,34.0,32.0,62.0,33.0,35.0,24.0,51.0,53.0,23.0,52.0,29.0,45.0,63.0,54.0,70.0,39.0,64.0,66.0,50.0,47.0,57.0,55.0,74.0,44.0,97.0,25.0,87.0,59.0,60.0,49.0,61.0,76.0,71.0,68.0,78.0,83.0,80.0,58.0,75.0,127.0,90.0,69.0,84.0,95.0,88.0
rank_diff,0.0,0.0,-1.0,-4.0,2.0,1.0,-4.0,-6.0,-1.0,4.0,-1.0,-4.0,6.0,-13.0,-5.0,-1.0,-5.0,9.0,4.0,7.0,-9.0,-9.0,5.0,-22.0,4.0,-12.0,1.0,-20.0,-13.0,-7.0,3.0,-9.0,14.0,-9.0,-5.0,2.0,5.0,-24.0,6.0,5.0,17.0,-9.0,-10.0,21.0,-7.0,17.0,2.0,-15.0,-5.0,-20.0,12.0,-12.0,-13.0,4.0,8.0,-1.0,2.0,-16.0,15.0,-37.0,36.0,-25.0,4.0,4.0,16.0,5.0,-9.0,-3.0,1.0,-8.0,-12.0,-8.0,15.0,-1.0,-52.0,-14.0,8.0,-6.0,-16.0,-8.0
rank_diff/adp_rank,0.0,0.0,-0.333333,-1.0,0.4,0.166667,-0.571429,-0.75,-0.111111,0.4,-0.090909,-0.333333,0.461538,-0.928571,-0.333333,-0.0625,-0.294118,0.5,0.210526,0.35,-0.428571,-0.409091,0.2,-0.846154,0.148148,-0.428571,0.034483,-0.666667,-0.419355,-0.21875,0.090909,-0.264706,0.4,-0.25,-0.135135,0.052632,0.128205,-0.6,0.142857,0.116279,0.386364,-0.2,-0.217391,0.428571,-0.14,0.333333,0.037736,-0.272727,-0.089286,-0.350877,0.206897,-0.20339,-0.216667,0.063492,0.125,-0.015152,0.029851,-0.235294,0.217391,-0.528571,0.507042,-0.347222,0.054795,0.054054,0.213333,0.064935,-0.115385,-0.0375,0.012346,-0.097561,-0.144578,-0.095238,0.174419,-0.011494,-0.58427,-0.155556,0.086957,-0.064516,-0.170213,-0.083333
ppg_pred,15.430802,14.144032,13.800525,12.532546,13.831751,13.785197,12.240119,11.761965,12.362638,12.749806,11.902663,11.210387,12.565837,10.045144,10.970756,11.177302,10.575887,12.420608,11.666686,11.838449,9.928565,9.552837,11.133986,7.51526,10.656632,8.118458,10.109739,7.333409,7.823677,8.231745,10.025332,7.838877,11.011156,7.606443,7.884178,9.265081,9.442998,5.698667,9.31807,9.090008,10.296821,6.858729,6.816072,10.48875,6.853219,9.988104,7.521384,5.636343,6.765176,4.707045,7.934302,5.384951,5.354616,6.907146,7.44135,5.974635,6.307727,4.563797,7.550484,3.493767,10.281774,3.830622,5.884559,5.869624,6.987817,5.797473,4.434016,4.66311,4.841128,4.394306,4.020998,4.246012,5.89011,4.558681,2.519899,3.726696,4.759383,3.953953,3.520405,3.824567

In [13]:
show_top_players(adp, 'TE', 36)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
player,Brock Bowers,Trey McBride,George Kittle,Sam LaPorta,TJ Hockenson,Jonnu Smith,Travis Kelce,Mark Andrews,Evan Engram,David Njoku,Tucker Kraft,Dalton Kincaid,Isaiah Likely,Jake Ferguson,Dallas Goedert,Kyle Pitts,Brenton Strange,Zach Ertz,Hunter Henry,Mike Gesicki,Pat Freiermuth,Cade Otton,Dalton Schultz,Ja'Tavion Sanders,Chig Okonkwo,Cole Kmet,Juwan Johnson,Theo Johnson,Noah Gray,Tyler Conklin,Taysom Hill,Tyler Higbee,Ben Sinnott,Will Dissly,Luke Musgrave,Dawson Knox
teamName,Las Vegas Raiders,Arizona Cardinals,San Francisco 49ers,Detroit Lions,Minnesota Vikings,Miami Dolphins,Kansas City Chiefs,Baltimore Ravens,Denver Broncos,Cleveland Browns,Green Bay Packers,Buffalo Bills,Baltimore Ravens,Dallas Cowboys,Philadelphia Eagles,Atlanta Falcons,Jacksonville Jaguars,Washington Commanders,New England Patriots,Cincinnati Bengals,Pittsburgh Steelers,Tampa Bay Buccaneers,Houston Texans,Carolina Panthers,Tennessee Titans,Chicago Bears,New Orleans Saints,New York Giants,Kansas City Chiefs,Los Angeles Chargers,New Orleans Saints,Los Angeles Rams,Washington Commanders,Los Angeles Chargers,Green Bay Packers,Buffalo Bills
adp_rank_2025,1,2,3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22,23,24,26,27,28,29,31,33,35,36,37,38,39,42,43,44
pred_rank_2025,1.0,3.0,2.0,5.0,12.0,8.0,4.0,6.0,17.0,9.0,15.0,19.0,24.0,23.0,11.0,25.0,40.0,20.0,16.0,26.0,18.0,12.0,28.0,23.0,29.0,22.0,32.0,34.0,39.0,38.0,17.0,36.0,72.0,44.0,78.0,49.0
rank_diff,0.0,-1.0,1.0,-1.0,-7.0,-2.0,3.0,2.0,-6.0,3.0,-2.0,-5.0,-9.0,-7.0,6.0,-7.0,-21.0,0.0,5.0,-4.0,5.0,12.0,-2.0,4.0,-1.0,7.0,-1.0,-1.0,-4.0,-2.0,20.0,2.0,-33.0,-2.0,-35.0,-5.0
rank_diff/adp_rank,0.0,-0.5,0.333333,-0.25,-1.4,-0.333333,0.428571,0.25,-0.545455,0.25,-0.153846,-0.357143,-0.6,-0.4375,0.352941,-0.388889,-1.105263,0.0,0.238095,-0.181818,0.217391,0.5,-0.076923,0.148148,-0.035714,0.241379,-0.032258,-0.030303,-0.114286,-0.055556,0.540541,0.052632,-0.846154,-0.047619,-0.813953,-0.113636
ppg_pred,12.4706,9.688758,10.625777,8.389908,6.389687,7.176982,9.469428,8.239586,5.819709,7.198138,6.334902,5.520925,4.895417,4.941911,6.861399,4.883747,3.197683,5.360552,5.839956,4.651441,5.536574,6.495208,4.592924,5.088995,4.533948,5.348976,4.443986,4.428705,4.188764,4.207585,6.451742,4.322243,1.607394,3.381752,1.585057,2.750592

In [21]:
# for each team, show the 2 RBs with the highest adp_rank_2025
for team, group in adp.groupby('teamName'):
    top_rbs = group[group['pos'] == 'WR'].nsmallest(2, 'adp_rank_2025')
    display(top_rbs[['player', 'adp_rank_2025']])

             player  adp_rank_2025
15  Marvin Harrison             16
67   Michael Wilson             80

            player  adp_rank_2025
8     Drake London              9
44  Darnell Mooney             50

            player  adp_rank_2025
24     Zay Flowers             27
51  Rashod Bateman             59

           player  adp_rank_2025
41  Khalil Shakir             45
50   Keon Coleman             58

            player  adp_rank_2025
55  Xavier Legette             66
58    Adam Thielen             69

         player  adp_rank_2025
20     DJ Moore             21
28  Rome Odunze             31

           player  adp_rank_2025
0   Ja'Marr Chase              1
11    Tee Higgins             12

            player  adp_rank_2025
35     Jerry Jeudy             38
59  Cedric Tillman             70

           player  adp_rank_2025
2     CeeDee Lamb              3
61  Jalen Tolbert             72

              player  adp_rank_2025
25  Courtland Sutton             28
49       Marvin Mims             57

              player  adp_rank_2025
5   Amon-Ra St Brown              6
23  Jameson Williams             26

         player  adp_rank_2025
39  Jayden Reed             43
56  Romeo Doubs             67

            player  adp_rank_2025
6     Nico Collins              7
47  Christian Kirk             55

             player  adp_rank_2025
45       Josh Downs             51
46  Michael Pittman             53

          player  adp_rank_2025
7   Brian Thomas              8
74   Dyami Brown             89

           player  adp_rank_2025
18    Rashee Rice             19
21  Xavier Worthy             22

           player  adp_rank_2025
36  Jakobi Meyers             39
80     Tre Tucker             99

              player  adp_rank_2025
10     Ladd McConkey             11
54  Quentin Johnston             64

           player  adp_rank_2025
3      Puka Nacua              4
17  Davante Adams             18

           player  adp_rank_2025
12    Tyreek Hill             13
29  Jaylen Waddle             32

              player  adp_rank_2025
1   Justin Jefferson              2
30    Jordan Addison             33

             player  adp_rank_2025
40     Stefon Diggs             44
68  DeMario Douglas             81

            player  adp_rank_2025
31     Chris Olave             34
48  Rashid Shaheed             56

               player  adp_rank_2025
4        Malik Nabers              5
62  Wan'Dale Robinson             73

            player  adp_rank_2025
14  Garrett Wilson             15
90    Allen Lazard            113

           player  adp_rank_2025
9        AJ Brown             10
22  DeVonta Smith             25

            player  adp_rank_2025
26      DK Metcalf             29
38  George Pickens             42

            player  adp_rank_2025
34  Jauan Jennings             37
37  Ricky Pearsall             40

                player  adp_rank_2025
13  Jaxon Smith-Njigba             14
43         Cooper Kupp             49

          player  adp_rank_2025
19    Mike Evans             20
32  Chris Godwin             35

           player  adp_rank_2025
27  Calvin Ridley             30
73  Tyler Lockett             87

            player  adp_rank_2025
16  Terry McLaurin             17
33    Deebo Samuel             36

In [17]:
teams_2024 = pd.read_csv('./data/pff/team/2024.csv')
teams_2024['Avg Blocking Grade'] = (teams_2024['Pass Blocking Grade'] + teams_2024['Run Blocking Grade']).div(2)
teams_2024 = teams_2024[['Tm', 'Avg Blocking Grade', 'Pass Blocking Grade', 'Run Blocking Grade']].copy().sort_values('Avg Blocking Grade', ascending=False).reset_index(drop=True)

# rank teams by blocking grade
teams_2024['Avg Blocking Grade rank'] = teams_2024['Avg Blocking Grade'].rank(ascending=False, method='min').astype(int)
teams_2024['Pass Blocking Grade rank'] = teams_2024['Pass Blocking Grade'].rank(ascending=False, method='min').astype(int)
teams_2024['Run Blocking Grade rank'] = teams_2024['Run Blocking Grade'].rank(ascending=False, method='min').astype(int)

teams_2024

,Tm,Avg Blocking Grade,Pass Blocking Grade,Run Blocking Grade,Avg Blocking Grade rank,Pass Blocking Grade rank,Run Blocking Grade rank
0,Atlanta Falcons,77.80,72.8,82.8,1,9,1
1,San Francisco 49ers,76.00,72.0,80.0,2,12,2
2,Denver Broncos,75.65,83.6,67.7,3,1,11
3,Indianapolis Colts,74.75,72.5,77.0,4,11,4
4,Philadelphia Eagles,74.55,73.9,75.2,5,6,6
5,Tampa Bay Buccaneers,74.10,82.5,65.7,6,2,15
6,Detroit Lions,73.40,68.4,78.4,7,18,3
7,Kansas City Chiefs,72.15,70.7,73.6,8,13,7
8,Green Bay Packers,72.10,82.1,62.1,9,3,22
9,Arizona Cardinals,71.20,75.8,66.6,10,4,13
10,Carolina Panthers,71.15,69.2,73.1,11,16,8
11,Buffalo Bills,69.60,74.7,64.5,12,5,17
12,Chicago Bears,69.20,72.8,65.6,13,9,16
13,Baltimore Ravens,68.40,73.3,63.5,14,7,19
14,Los Angeles Chargers,68.25,73.1,63.4,15,8,21
15,New York Jets,68.15,68.9,67.4,16,17,12
16,Minnesota Vikings,67.60,69.3,65.9,17,15,14
17,Las Vegas Raiders,66.70,69.9,63.5,18,14,19
18,Los Angeles Rams,65.40,54.2,76.6,19,30,5
19,Pittsburgh Steelers,64.60,60.8,68.4,20,24,9
20,Dallas Cowboys,62.90,62.1,63.7,21,23,18
21,Houston Texans,61.95,66.8,57.1,22,19,26
22,Jacksonville Jaguars,61.85,66.7,57.0,23,20,27
23,Washington Commanders,61.15,64.5,57.8,24,22,25
24,Miami Dolphins,60.80,66.1,55.5,25,21,28
25,New Orleans Saints,59.75,51.7,67.8,26,32,10
26,Seattle Seahawks,59.10,59.8,58.4,27,26,24
27,New York Giants,58.65,57.6,59.7,28,28,23
28,Cleveland Browns,54.85,59.5,50.2,29,27,30
29,Cincinnati Bengals,53.50,56.3,50.7,30,29,29
30,Tennessee Titans,53.35,60.1,46.6,31,25,31
31,New England Patriots,48.95,52.3,45.6,32,31,32

In [34]:
blocking_2024 = pd.read_csv('./data/pff/blocking/2024.csv')[['player', 'position', 'team_name', 'grades_pass_block', 'grades_run_block', 'snap_counts_pass_block', 'snap_counts_run_block']]

# only keep G, T, C
blocking_2024 = blocking_2024[blocking_2024['position'].isin(['G', 'T', 'C'])].copy()

# save as blocking_2024.csv
blocking_2024.to_csv('./data/pff/blocking/blocking_2024.csv', index=False)
blocking_2024

,player,position,team_name,grades_pass_block,grades_run_block,snap_counts_pass_block,snap_counts_run_block
0,Joel Bitonio,G,CLV,70.2,59.6,815,363
1,Terence Steele,T,DAL,57.5,78.9,746,422
2,Sam Cosmi,G,WAS,74.3,66.4,700,457
3,Nick Allegretti,G,WAS,57.5,63.9,696,450
4,Penei Sewell,T,DET,74.1,90.5,617,526
...,...,...,...,...,...,...,...
1006,Jordan McFadden,G,LAC,NaN,60.0,0,1
1017,Wes Schweitzer,G,NYJ,NaN,52.9,0,1
1027,Jarrett Kingston,G,CAR,73.0,NaN,1,0
1042,Chris Glaser,C,CHI,64.2,NaN,1,0
1084,Elijah Wilkinson,T,ATL,NaN,60.0,0,1